body {
    height:100%;
    background:#e1e8f0;
}

.list-group-item {
    background:#d7e1ec;
    border:solid 1px #ccd6e2;
}

[class*="-dark"] {
    background:#374153 !important;
}


.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity:0.01;
}

.fade-enter-active {
    opacity:1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity:1;
}

.fade-exit-active {
    opacity:0.01;
    transition: opacity 1000ms ease-in;
}

.hidden {
    display:none;
}

/* React-Strap Overrides */

